#! /usr/bin/make -f

#   Copyright 1994-98   joey@infodrom.north.de (Martin Schulze)
#
#   This program is free software; you can redistribute it and/or modify
#   it under the terms of the GNU General Public License as published by
#   the Free Software Foundation; version 2 dated June, 1991.
#
#   This program is distributed in the hope that it will be useful,
#   but WITHOUT ANY WARRANTY; without even the implied warranty of
#   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#   GNU General Public License for more details.
#
#   You should have received a copy of the GNU General Public License
#   along with this program;  if not, write to the Free Software
#   Foundation Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307, USA
SHELL=/bin/bash

# The name and version of the source
#
source = $(shell grep "^Source: " debian/control|head -1|sed 's/Source: \(.*\)/\1/g')
package = $(shell grep "^Package: " debian/control|head -1|sed 's/Package: \(.*\)/\1/g')
version = $(shell grep "^$(source) " debian/changelog|head -1 |sed 's/.*(\(.*\)\-[^\-]*).*/\1/g')
revision = $(shell grep "^$(source) " debian/changelog|head -1 |sed 's/.*([^\-]*\-\(.*\)).*/\1/g')

CFLAGS = -O2 -Wall

ifneq (,$(findstring debug,$(DEB_BUILD_OPTIONS)))
CFLAGS += -g
endif
ifeq (,$(findstring nostrip,$(DEB_BUILD_OPTIONS)))
STRIP = -s
endif

installbin    = install -g root -o root -m 755 $(STRIP)
installdir    = install -g root -o root -m 755 -d
installdoc    = install -g root -o root -m 644
installscript = install -g root -o root -m 755

build:
	$(MAKE) CFLAGS="$(CFLAGS)"
	touch stamp-build

clean: debclean
	rm -f stamp-build
	rm -rf mailto *.o *~

debclean:
# Cleans debian binary directories to allow binary creation
	rm -rf debian/tmp
	rm -f debian/{files,substvars}

binary-indep:
# Nothing to be done here

 binary-arch: debclean
	test -f stamp-build || $(MAKE) -f debian/rules build
	$(installdir) debian/tmp/DEBIAN
	chown -R root.root debian/tmp
	chmod -R g-ws debian/tmp
	$(installdir) debian/tmp/usr/share/doc/$(package)
	$(installdoc) debian/conffiles debian/tmp/DEBIAN/
	#
	$(installdoc) debian/changelog debian/tmp/usr/share/doc/$(package)/changelog.Debian
	$(installdoc) debian/copyright debian/tmp/usr/share/doc/$(package)
	#
	$(installdoc) debian/changes debian/tmp/usr/share/doc/$(package)/changelog
	$(installdoc) debian/{readme,usage}.txt debian/tmp/usr/share/doc/$(package)
	gzip -9f debian/tmp/usr/share/doc/$(package)/{changelog{,.Debian},{readme,usage}.txt}
	#
	$(installdir) debian/tmp/etc
	$(installdoc) debian/mailto.conf debian/tmp/etc
	#
	$(installdir) debian/tmp/usr/lib/cgi-bin
	$(installbin) mailto debian/tmp/usr/lib/cgi-bin
	#
#	$(installdir) debian/tmp/usr/share/man/man{5,8}
#	$(installdoc) syslog.conf.5 debian/tmp/usr/share/man/man5
#	$(installdoc) {sysklogd,syslogd,klogd,debian/syslogd-listfiles}.8 debian/tmp/usr/share/man/man8
#	gzip -9 debian/tmp/usr/share/man/man?/*
#	#
	dpkg-shlibdeps debian/tmp/usr/lib/cgi-bin/mailto
	dpkg-gencontrol -isp
	dpkg --build debian/tmp ..

binary: binary-indep binary-arch

source diff:
	@echo >&2 'source and diff are obsolete - use dpkg-source -b' or dsc; false

dsc:
	-test -d debian/tmp && $(MAKE) -f debian/rules clean
	if [ ! -f ../$(source)_$(version).orig.tar.gz -a -f ../orig/$(source)_$(version).orig.tar.gz ]; \
	then \
	  ln -s orig/$(source)_$(version).orig.tar.gz ../$(source)_$(version).orig.tar.gz; \
	  touch /tmp/stamp-$(source)-link; \
	fi; \
	cd .. && dpkg-source -b $(source)-$(version)
	if [ -f /tmp/stamp-$(source)-link ]; then \
	  rm ../$(source)_$(version).orig.tar.gz /tmp/stamp-$(source)-link; \
	fi

checkroot:
	$(checkdir)
	test root = "`whoami`"

dist: binary dsc

.PHONY: binary binary-arch binary-indep clean checkroot

